pkgbase = aurora-bin
	pkgdesc = Aurora Player standalone AppImage for Linux (prebuilt)
	pkgver = 1.0.0
	pkgrel = 1
	epoch = 1
	url = https://github.com/Namnarak/Aurora-Player
	arch = x86_64
	license = Apache-2.0
	depends = fuse2
	optdepends = gamemode: Feral GameMode integration
	provides = aurora
	conflicts = aurora
	conflicts = aurora-git
	noextract = Aurora-x86_64-glibc-standalone.AppImage
	options = !debug
	options = !strip
	source = Aurora-x86_64-glibc-standalone.AppImage::https://github.com/Namnarak/Aurora-Player/releases/download/1.0.0/Aurora-x86_64-glibc-standalone.AppImage
	source = space.bigrat.aurora.desktop::https://raw.githubusercontent.com/Namnarak/Aurora-Player/1.0.0/packaging/space.bigrat.aurora.desktop
	source = space.bigrat.aurora.svg::https://raw.githubusercontent.com/Namnarak/Aurora-Player/1.0.0/packaging/space.bigrat.aurora.svg
	source = LICENSE::https://raw.githubusercontent.com/Namnarak/Aurora-Player/1.0.0/LICENSE
	sha256sums = 8d81bc32262caf898a8090c64f90f44fb9343fe95b19645e463f11344acef71e
	sha256sums = e274d2cd8246ccc0eed772209178b77295e63eb0895c9e8a0acacae6fc8cee54
	sha256sums = 016930a068c8ff990ab2a6a934ad99b9a5c239ff4ef0e148c511e0181efac40f
	sha256sums = 27238097e0d1332c588015a3b724146946a81f2a7b28b3d7a8d44d528ad49d5b

pkgname = aurora-bin
